
<div class="page-header">
  <h1>
  <dd><%= Company.find_by(:id =>@company.id).name %><dd/>
  </h1>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Last Action</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>


    <% @company.contacts.each do |contact| %>
      <tr>

        <form action="/update_contact/<%= contact.id %>" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <!-- Hidden fields for name and user_id and company_id -->
          <input type="hidden" name="name" value="<%= contact.name %>">
          <input type="hidden" name="company_id" value="<%= contact.company_id %>">
          <input type="hidden" name="user_id" value="<%= contact.user_id %>">


          <td>
            <a href="/contacts/<%= contact.id %>"><%= contact.name %></a>
          </td>

          <td>
            <p> <%= contact.relationship %></p>
            <select name="relationship" class="form-control-sm">
              <option></option>
              <option value="Booth">Chicago Booth</option>
              <option value="LinkedIn">LinkedIn</option>
              <option value="Colleague">Colleague</option>
            <select/>
          </td>

          <td>
            <select class="form-control-sm">
              <option></option>
              <option>Initial Outreach</option>
              <option>Thank You</option>
              <option>Follow Up</option>
            <select/>
          </td>


          <td>
            <div class='input-group date our_datetimepicker' >
              <input type='text' class="form-control" name="last_action_date" id="last_action_date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </td>

          <td>
            <input type="submit" name="update">
          </td>

        </form>

      </tr>
  <% end %>
</table>

</div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


  </div>
</div>



<h1>
  <a href="/contacts/new/<%= @company_id %>" class="btn btn-lg btn-default">New Contact</a>
</h1>
</div>

<script type="text/javascript">
  $(function () {
    $('.our_datetimepicker').datetimepicker();
  });
</script>
